:root {
    --toggleHeight: 16em;
    --toggleWidth: 30em;
    --toggleBtnRadius: 10em;
    --bgColor--night: #423966;
    --mooncolor: #D9FBFF;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    user-select: none;
    font-family: "Noto Serif", serif;
}

:focus {
    outline: none;
}

img {
    -webkit-user-drag: none;
}

.mainContainer {
    background-color: rgb(1, 3, 16);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../Image/coverBackground.png"), url("../Image/coverBackground.png");
}

.formSectionWrapper {
    width: 70%;
    aspect-ratio: 16 / 9;
}

.imgContainer {
    height: 100%;
    width: 50%;
    background-color: rgb(18, 25, 33);
    border-radius: 20px 0px 0px 20px;
}

.coverImg {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    object-fit: contain;
    object-position: 60% -15%;
    transform: rotateY(180deg);
    border-radius: 30px;
    filter: blur(0.1px);
    opacity: 1;
}

.container {
    width: 50%;
    height: 100%;
}

.subContainer2 {
    transform: rotateY(90deg);
}

.subContainer, .subContainer2 {
    width: 100%;
    height: 100%;
    background-color: rgb(18, 25, 33);
    border-radius: 0px 20px 20px 0px;
}

.subContainer2 > h1, .subContainer > h1 {
    font-size: 3vw;
    color: rgb(88, 113, 126);
}

.errorAlert {
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 3.5;
    background-color: rgb(18, 25, 33);
    color: rgb(151, 189, 196);
    margin: 1%;
    overflow: hidden;
    border-radius: 0.5vw;
    top: 0px;
    right: -16vw;
    font-size: 1vw;
    align-items: center;
    box-shadow: rgb(51, 129, 142) 0px 0px 10px 0px;
    z-index: 1;
}

.alertSection {
    height: 86%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.underlineDiv {
    height: 15%;
    width: 100%;
}

.alertText {
    width: 85%;
    height: 100%;
    font-size: 90%;
    text-wrap: nowrap;
}

.xmarkIcon {
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.underline {
    content: "";
    width: 100%;
    transform: scaleX(1);
    height: 0.5vw;
    bottom: 0px;
    left: 0px;
    background-color: rgb(94, 255, 0);
    transform-origin: left bottom;
}

.loginContainer {
    width: 70%;
    height: 80%;
}

.loginContainer > label {
    font-size: 1vw;
    color: rgb(151, 189, 196);
}

.subContainer > .loginContainer > button, .subContainer2 > .loginContainer > button {
    background-color: rgb(51, 129, 142);
    color: rgb(19, 30, 36);
    font-size: 0.9vw;
    border: none;
    font-weight: bold;
}

#loginButton > svg {
    display: none;
    opacity: 0;
}

#email, #newEmail {
    border-radius: 0px 10px 10px 0px;
}

.input > input {
    border: none;
    background-color: rgb(56, 68, 69);
    color: rgb(88, 113, 126);
    margin-top: 5px;
    font-size: 0.9vw;
}

input:focus {
    outline: none;
}

.inputContainer {
    height: 100%;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(56, 68, 69);
    border-radius: 10px 0px 0px 10px;
    margin-top: 5px;
    color: rgb(18, 25, 33);
}

.inputEyeContainer {
    height: 100%;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(56, 68, 69);
    border-radius: 0px 10px 10px 0px;
    margin-top: 5px;
    color: rgb(18, 25, 33);
}

#forgetPasswordBtn {
    position: relative;
    background: none;
    border: none;
    margin-bottom: 3%;
    right: -35%;
    color: rgb(51, 129, 142);
    cursor: pointer;
}

#forgetPasswordBtn:hover {
    color: rgb(36, 84, 93);
}

hr {
    width: 100%;
    border: 1px solid rgb(56, 68, 69);
}

#orText {
    font-size: 15px;
    margin: 0px 10px;
    color: rgb(56, 68, 69);
}

.link {
    text-decoration: none;
    cursor: pointer;
}

#linkColor1, #linkColor2 {
    color: rgb(51, 129, 142);
}

.mainMusicContainer {
    background-color: rgb(1, 3, 16);
    height: 100vh;
    width: 100vw;
    background-image: url("../Image/coverBackground.png");
    background-size: 100vh;
}

.musicContainer {
    width: 80%;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    border-radius: 2vw;
    background-color: rgba(18, 25, 33, 0.914);
    position: relative;
}

.subMusicContainer {
    height: 100%;
    width: 90.9%;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 18% 92%;
    grid-template-rows: 90% 10%;
}
